{% extends 'blog/base.html' %}

{% block page_header %}
<h2>Profile</h2>
{% endblock page_header %}

{% block contents %}
<div class="row">
  <div class="col-sm-4">
    <div class="list-group">
      <a href="{% url 'users:account' %}"
        class="list-group-item list-group-item-action">
        Profile
      </a>
      <a href="{% url 'blog:new_post' %}"
        class="list-group-item list-group-item-action">
        New post
      </a>
      <a href="{% url 'blog:manage_categories' %}"
        class="list-group-item list-group-item-action">
        Manage categories
      </a>
    </div>
  </div>
  <div class="col-sm-8">
    {% block sub_contents %}
    {% endblock sub_contents %}
  </div>
</div>
{% endblock contents %}
